.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  border-radius: 0.5rem;
  border: 3px solid #7ca7b6;
  background-color: #1C1C1E;
  height: fit-content;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 0.4rem;
}

.activityblock {
  display: flex inline-block;
  list-style-type: none;
  padding-inline-start: 1rem;
  margin-block-start: 0px;
  min-width: 12.5rem;
  height: auto;
  margin-bottom: 0.2rem;
}

.activityblock > div > div {
  font-size: 1rem;
}

.buttonwrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.buttonwrapper > div > div > div > p {
  margin: 0px;
}

.header {
  margin-left: 1rem;
  font-size: 1.5rem;
  color: white;
  height: 1rem;
  font-weight: bold;
}

.button {
  scale: 0.6;
  margin-top: 0.8rem;
  margin-left: auto;
  margin-right: 0.7rem;
  padding: 0px;
  border: none;
/*   border: 0.15rem solid #7ca7b6; */
  border-radius: 0.3rem;
  background-color: transparent;
  color: grey;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.activities {
  
}

.ActivityAddButton {
  display: inline-block;
  padding: 0;
  background: transparent;
  border: none;
  color: #7ca7b6;
  border: 2px solid #7ca7b6;
  border-radius: 0.3rem;
  width: calc(100% - 1rem);
  margin-bottom: 0.5rem;
}





