.wrapper {
  margin-left: auto;
  margin-top: 0.7rem;
  margin-bottom: 0.3rem;
  margin-right: 0.7rem;
}

.button {
  display: flex;
  background: transparent;
  border: none;
  scale: 0.8;
  padding:0;
}

.popup {
  z-index: 100;
  position: absolute;
  background: white;
  overflow: hidden;
  height: 10rem;
  width: 10rem;
  right: 50px;
}