.wrapper {
  display: flex;
  background: #1C1C1E;
  margin: 20px;
  display: flex;
  width: auto;
  height: 2.6rem;
  border-radius: 0.7rem;
  border: 3px solid #444449;
  align-items: center;
}

.input {
  margin-left: 17px;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: white;
}

input::placeholder {
  color: #444449;
  font-style: bold;
  font-size: 1.2rem;
}

input:focus::placeholder {
  color: transparent;
}

.tag {
  background: transparent;
  border-radius: 0.7rem;
  border: 2px solid #444449;
  color: #444449;
  font-size: 0.8rem;
  font-weight: 500;
  height: 1.6rem;
  width: 5rem;
}

.tag:hover {
  background: black;
  border-radius: 0.7rem;
  border: 2px solid #444449;
  color: #444449;
  font-size: 0.8rem;
  font-weight: 500;
  height: 1.6rem;
  width: 5rem;
  cursor: pointer;
}

.add {
  display: flex;
  background: #444449;
  height: 2.6rem;
  border: none;
  margin-left: 20px;
}

.plus {
  background: transparent;
  transform: scale(0.45);
  border: none;
  margin-top: -6px;
}

.plus:hover {
  background: transparent;
  transform: scale(0.45);
  border: none;
  margin-top: -6px;
  cursor: pointer;
}

.add:hover {
  display: flex;
  background: #444449;
  height: 2.6rem;
  border: none;
  margin-left: 20px;
  cursor: pointer;
}